$corBgBody:#246ba693;
$corBgGradiente:#0077be;
$corTxtBranco: #f0f0f0;
$corCeu: #4ec5f1;
$corPalha:#e5c100;
$borderAzul:#00306e;
$corBlack: black;
$corRedLuffy:#d62828;
$borderVermelha: #af1414;
$corBgDicasChute:#072c7cf8;
$corBgContanerPalavra: #015c919c;
$corQuadroVazio: #f3e308;
$corSombraAzul:#0046a1 ; 
$corBtnHover:#940e0ee0;


$font-padrao:Arial, Helvetica, sans-serif;
$font-btn:"Archivo Black", sans-serif;
$font-title:"Luckiest Guy", cursive;
$font-txtSecundario: "Archivo Black", sans-serif;

$breakpoints:(
    xs: 320px,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1400px
);