@use "../style/variaveis" as *;
@use "../style/mixin" as *;

.game{
    height: 100vh;

    @include respond-between(xs, sm){
        width: 70%;
    }
    @include respond-between(sm, md){
        width: 80%;
    }
    @include respond-between(md, xl){
        width: 90%;
    }

    // h1{
    //     font-size: 4.9em;
    //     font-family: $font-title;
    //     letter-spacing: 4px;
    //     font-weight: normal;
    //     line-height: 65px;
    //     -webkit-text-stroke-width: 4px; /* largura da borda */
    //     -webkit-text-stroke-color:$borderAzul; /* cor da borda */
    //     text-shadow: 13px 0px 1px $borderAzul;
    //     color: $corPalha;

    //     @include respond-between(xs, sm){
    //         font-size: 3.3rem;
    //         letter-spacing: 1px;
    //         line-height: 49px;
    //         text-shadow:6px 1px 1px $borderAzul;
    //     }
    // }

    // .dicas{
    //     position: static;
    //     display: flex;
    //     flex-direction: column;
    //     width: 35%;
    //     align-items: center;
    //     padding: 25px;
    //     border-radius: 15px;
    //     border: 13px solid $corSombraAzul;
    //     background-color: $corBgDicasChute;
    //     justify-self: center;
        
    //     @include respond-between(xs,sm){
    //         width:87%;
    //     }        
    //     @include respond-between(sm, md){
    //         width: 90%;
    //     }
    //      @include respond-between(md, xl){
    //         width: 60%;
    //     }
    //     span{
    //         margin-top: 10px;
    //         font-size: 25px;
    //         color: #fd4343;
    //         text-shadow: 1px 1px 2px #6d0707;
    //     }
    // }
    .dicasPonto{
        display: flex;
        text-align:justify;
        font-size: 1.1rem;
        font-weight: normal;
        font-family: $font-txtSecundario;
        letter-spacing: 1px;
        justify-content: center;
        width: 100%;

        p{
            margin: auto 43px;
            justify-items: center;
            text-shadow: 1px 1px 1px $corBlack;
            color: #f0f0f0;

            @include respond-between(xs, sm){
                margin: auto 19px;
            }
        }
        .chances {
            
            span{
                @include span-base;
            }
        }
        .pontos{
            span{
                @include span-base;
            }
        }
    }


    
    .palavraContainer{
        margin: 1.5em;
        padding: 1.5em;
        border: 20px solid $corPalha;
        border-radius: 25px;
        display: flex;
        box-shadow: 3px 4px 20px 20px #015c91;
        background-color: $corBgContanerPalavra ;

        @include respond-between(xs, sm){
            display: grid;
            justify-items: center;
            grid-template-columns: repeat(3, 1fr);
            row-gap: 16px;
            border: none;
            background:none;
            box-shadow: none;
            margin: 1.5em 0;
            padding: 0;
            width:100%;
        }  
        @include respond-between(sm, md){
            display: grid;
            justify-items: center;
            grid-template-columns: repeat(5, 1fr);
            row-gap: 25px;
            border: none;
            background:none;
            box-shadow: none;
            margin: 2em 0;
            padding: 0;
        }
        @include respond-between(md, xl) {
            justify-items: center;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            row-gap: 19px;
            width: 60%;
            justify-self: center
         }
        .letra, .quadradoVazio{
            font-size: 70px;
            line-height: 1.5;
            border-radius: 20px;
            margin-left: 15px;
            border: 1px solid #ffda06;
            box-shadow: 3px 3px 0px 5px #bea202;
            text-align: center;
            height: 100px;
            width: 100px;
            text-transform: uppercase;
            background-color:$corQuadroVazio;
            -webkit-text-stroke-width: 2px; /* largura da borda */
            -webkit-text-stroke-color:$corSombraAzul; /* cor da borda */
            color: $corTxtBranco;
            font-weight: bold;

            @include respond-between(xs,sm){
                -webkit-text-stroke-width: 2px;
                font-size: 2.1em;
                margin: 0;
                width: 65px;
                height: 65px;
            } 
            
            @include respond-between(sm, md){
                width: 80px;
                height: 80px;
            }
        }
    }
    
    .tentativa{
        letter-spacing: 1px;
        margin-top: 1.9em;
        font-size: 1.1em;
        text-align: center;
        text-shadow: 1px 1px 1px $corBlack;
        color: #f0f0f0;
        @include respond-between(xs,sm){
            font-size: 0.9em;
        }

        span{
            font-size: .7em;
            border: none;
            text-shadow:none;
            color: #ccc;

        }
    }
    .letraContainer{
        position: static;
        justify-content: center;
        display: flex;

        @include respond-between(xs, sm){
            align-items: center;
            flex-direction:column-reverse;
        }
        @include respond-between(sm, md){
            padding-bottom: 36px;
        }
         @include respond-between(md, xl){
            padding-bottom: 36px;
        }
        
        form{
            display: flex;
            align-items: center;
            justify-content: center;
            
            input{
               height: 50px;
               width: 50px;
               border: none;
               font-size: 2em;
               box-shadow: 1px 1px 0px 4px $borderAzul;
               border-radius: 15px;
               text-align: center;
               margin-right: 1em;
            }
            button{
                @include respond-between(xs,sm){
                    padding: 0 19px;
                    font-size: 1.2rem;
                    height: 65px;
                    
                   
                }
               
            }
        }
    }
    .chuteLetraContainer{
        padding: 0 45px;
        border-radius: 23px;
        background-color: $corBgDicasChute;
        box-shadow:2px 2px 0px 6px $corSombraAzul;
        margin-right: 30px;

        @include respond-between(xs, sm){
            padding: 18px;
            margin: 20px 0;
        }
        
        p{
           
            font-size: 1.1em;
            justify-items: center;
            text-shadow: 1px 1px 1px $corBlack;
            color: #f0f0f0;
            margin-bottom: 0px;

            @include respond-between(xs, sm){
                margin-top: 0px;
                font-size: 1em;
            }
        }
        
        span{
            font-size: 1.5em;
            color: white;
            font-weight: normal;
            text-shadow: 1px 1px 1px  $corBlack;
            font-family: $font-btn;

            @include respond-between(xs, sm){
                font-size: 1.3em;
            }
        }
    }

}



